@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h2 {
  margin-top: 30px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 600px) {
  #app {
    padding-top: .25rem;
    padding-left: 10px;
    padding-right: 10px;
    
  }
}


form {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}
label, li form {
  margin-left: 15px;
  margin-right: 15px;
}
li form {
  margin-top: 0px;
  margin-bottom: 0px;
}
li form input[type="text"] {
  background-color: transparent;
  color: var(--color-text);
  border: 0px;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}


ul {
  padding-left: 0px;
}

li {
  text-transform: capitalize;
  list-style-type: none;
}
li input,
li label,
li form {
  margin-right: 15px;
}
li svg {
  margin-right: 7px;
}
li form input[type="text"] {
  background-color: transparent;
  color: var(--color-text);
  border: 0px;
}

footer{
  margin-top: 30px;
  border-top: solid 1px lightgray;
  text-align: center;
}